nav ul.meniu > li > ul li, nav ul.meniu > li {
  cursor: pointer;
  width: 120px;
  background-color: var(--culoare-fundal);
  border: 1px solid var(--culoare-contur);
  color: black;
  text-align: center;
  transition: all 1s linear;
}

nav {
  --latime-buton: 120px;
  --inaltime-buton: 30px;
  background-color: var(--culoare-contur);
}
nav .text-icon,
nav .imag-icon,
nav .image-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3rem;
}
nav ul.meniu,
nav ul.meniu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav #hamburger,
nav #ch-menu {
  display: none;
}
nav ul.meniu {
  display: flex;
  position: relative;
}
nav ul.meniu > li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--inaltime-buton);
  line-height: var(--inaltime-buton);
  position: relative;
}
nav ul.meniu > li:hover {
  background-color: var(--culoare-contur);
  color: white;
}
nav ul.meniu > li:hover > ul {
  display: block;
}
nav ul.meniu > li > ul {
  display: none;
  animation: animatie_submeniu 1s linear;
  transform-origin: center top;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}
nav ul.meniu > li > ul li {
  position: relative;
  height: auto;
  line-height: normal;
}
nav ul.meniu > li > ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}
nav ul.meniu a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  width: 100%;
  height: 100%;
  line-height: normal;
}

@keyframes animatie_submeniu {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    transform: scale(0.5, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
nav ul.meniu > li:nth-child(1) {
  z-index: 9;
}

nav ul.meniu > li:nth-child(2) {
  z-index: 8;
}

nav ul.meniu > li:nth-child(3) {
  z-index: 7;
}

nav ul.meniu > li:nth-child(4) {
  z-index: 6;
}

nav ul.meniu > li:nth-child(5) {
  z-index: 5;
}

nav ul.meniu > li:nth-child(6) {
  z-index: 4;
}

nav ul.meniu > li:nth-child(7) {
  z-index: 3;
}

@media (max-width: 700px) {
  .hamburger-bar.bar-1 {
    animation-delay: 0s;
  }
  .hamburger-bar.bar-2 {
    animation-delay: 0.3s;
  }
  .hamburger-bar.bar-3 {
    animation-delay: 0.6s;
  }
}