.container-iframe{
display:flex;
align-items:flex-start;
gap:0;
}

.container-iframe iframe{
width:480px;
height:270px;
border:6px solid rgb(0,12,120);
background:white;
}

.taburi-iframe{
display:flex;
flex-direction:column;
gap:0;
margin-right:-6px;
}

.taburi-iframe>a{
border:3px solid rgb(0,12,120);
background-color:rgb(133,127,251);

padding:6px 10px;

margin:0;
text-decoration:none;
}