.container-iframe{
display:flex;
flex-direction: row;
align-items: flex-start;
}

.container-iframe iframe{
width:var(--media-width);
max-width:var(--media-max-width);
min-width:var(--media-min-width);
border:6px solid rgb(0,12,120);
background:white;
}

.taburi-iframe{
display:flex;
flex-direction:column;
gap:0;
margin-right:-6px;
}

.taburi-iframe>a{
border: 5px solid rgb(0,12,120);
background-color:rgb(133,127,251);
padding:6px 10px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
margin: 1px;
text-decoration:none;
transition:all 1s linear;
box-shadow:inset 7px 2px 5px rgb(0,12,120);


}

.taburi-iframe>a:hover{
background-color:rgb(0,12,120);
color:white;
}