
<footer id="contact">
    <h2>Contactați-ne</h2>

<address>

<i class="fa-solid fa-phone"></i>Telefon:
<a href="tel:+40123456789">+40 123 456 789</a>
<br><br>

<i class="fa-solid fa-map-marker-alt"></i>Adresă:Strada Vacanței 10,București, România
<br><br>
Locatia noastră pe Google Maps:
        <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.369546534364!2d26.1025!3d44.4358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff4e4f8c1b1d%3A0xdea39d41b3b7a4ce!2sAgenția%20noastră%20de%20turism!5e0!3m2!1sro!2sro!4v1614794985644!5m2!1sro!2sro" 
        width="200" 
        height="150" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>

<br><br>

<i class="fa-solid fa-at"></i>Email:
<a href="mailto:contact@aventuratravel.ro">
contact@aventuratravel.ro
</a>
<br><br>

<i class="fa-brands fa-whatsapp"></i>WhatsApp:
<a href="https://wa.me/40123456789" target="_blank">
Trimite-ne un mesaj pe WhatsApp
</a>

</address>



    <p>
    Pentru mai multe informații despre destinații turistice vizitează
    <a href="https://www.lonelyplanet.com" target="_blank">
    Lonely Planet
    </a>.
    </p>

    <p>
    <a href="https://ro.wikipedia.org/wiki/Londra#Turism">
    https://ro.wikipedia.org/wiki/<wbr>Londra#Turism
    </a>
    </p>

    <a href="/resurse/imagini/calator-mare.jpg">
    <img src="/resurse/imagini/calator-mic.jpg"
     alt="Turist explorând un oraș"
     title="Click pentru imaginea mare">
    </a>

    <p>
    <a href="/resurse/imagini/calator-mare.jpg" download="aventura_travel.jpg">
    Descarcă imaginea destinației
    </a>
    </p>

    <a href="#acasa" id="link-top" data-tooltip="text informativ">
    <span class="arrow">&#129081;</span>
    </a>

    <p><small>Copyright &copy; <time datetime="2026-03-07"> 07 martie 2026</time> </small></p>
    <div class="watermark">Salgau Vlad-Ionut</div>
</footer>